<div class="container mt-5">
  <h1 class="display-5 fw-bold">  Mesure du niveau de
    maturité  </h1>
  <p class="col-md-8 fs-4">Ce quiz contiendra un total de 5 questions. Chaque question contient 10 points</p>
  <h4>Règles:</h4>
  <ol>
    <li>La bonne question vous donne 10 points</li>
    <li>Vous aurez 60 secondes pour répondre à chaque question</li>
    <li>La référence à la page réinitialisera le Quiz</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">Bon chance!!</h1>
  <div class="name col-md-4 my-3">
    <label >Enter votre nom :</label>
    <input #name type="text" class="form-control">
  </div>
 <button class="btn btn-primary btn-lg" routerLink="/home/Evaluation-management/Question" (click)="startQuestion()">Commencer!!</button>
</div>
