<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin row -->

    <form  (click)="SearchReferentiel(key.value)">
      <div class="from-group row">
        <div class="col-6 col-sm-3">
          <input class="form-control ag-row-hover"  type="search"  #key="ngModel" ngModel
                 name="key" placeholder="Search par code" >
        </div>

        <div class="col-6 col-sm-3">
          <button class="btn btn-primary" type="submit " >   <i class="fa fa-search" aria-hidden="true"></i>  </button>

        </div>
      </div>
    </form>

    <form class="refs">
      <button style="  background-color: #4CAF50;
  border: none;
  color: white;
  display: inline-block;
  cursor: pointer;" type="submit" (click)="GoToDomainSpace()">Ajouter un domaine</button>


    </form>
    <br><br>


    <!--
    <button class="action-edit"><i class="feather icon-download badge-light-info"(click)="goToExportFormat()"></i>
      exporter
    </button>
    -->

    <br>
<div class="card-header">
  <h3 class="card-title" style="text-align: center"> Référentiel ISO 27002</h3>
  <br>
</div>
<div class="card-body">

  <div class="container"  >
    <button  class="btn btn-outline-primary text-center "  data-bs-toggle="modal" data-bs-target="#add" > <i class="fa fa-plus" aria-hidden="true"></i>Ajouter Référentiel
    </button>

    <!--  <input type="text" [(ngModel)]="searchInput.displayName">-->
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <!--   <th scope="col">Id </th> -->
        <th scope="col">Code </th>
        <th scope="col">Intitulé</th>
        <th scope="col" colspan="2" >Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let l of listReferentiel ">

        <!--  <td>{{l.id}}</td> -->
        <td>{{l.code}}
        </td>
        <td>{{l.intitule}}</td>
        <td >
          <button class="btn btn-outline-danger" (click)="deleteReferentiel(l.idRef)"  class="btn btn-danger" title="Supprimer"><i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button  class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="dataId(l.idRef)" class="btn btn-primary" title="Modifier" ><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
          </button>
        </td>

      </tr>

      </tbody>
    </table>
  </div>

</div>

<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #00a8c6" >

  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModelLabel">Modifier Un Référentiel</h5>
        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" aria-label="Close" >X</button>

      </div>
      <div class="modal-body" >
        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text "> Code</span>
          <input type="text" class="form-control" [(ngModel)]="re.code" >
        </div>
        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text "> Intitule </span>
          <input type="text" class="form-control" [(ngModel)]="re.intitule" >
        </div>
        <button type="button" class="btn btn-outline-success"  data-bs-dismiss="modal" aria-label="Close" (click)="UpdateReferentiel(re,idR)" > Update </button>


      </div>

    </div>

  </div>


</div>
<div class="modal fade"  id="add" tabindex="-1" aria-labelledby="addLabel" aria-hidden="true" style="color: #00a8c6" >

  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="addModal">Ajouter Un Référentiel</h5>
        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" aria-label="Close"  >X</button>

      </div>


      <div class="modal-body" >
        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text "> Code </span>
          <input type="text" class="form-control" [(ngModel)]="re.code" >
        </div>
        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text ">Intitule  </span>
          <input type="text" class="form-control" [(ngModel)]="re.intitule" >
        </div>

        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text "> Code Domain </span>
          <select [(ngModel)]= "idD" name="id" class="form-control " name="domain" id="domain" >

            <option *ngFor="let d of listDom "  value="{{d.idDom}} "> {{d.codeDomaine}} </option>

          </select>
        </div>
        <div class="input-group row-cols-md-3" >
          <span class="input-groupe-text "> Code Question </span>
          <select [(ngModel)]= "idQ" name="id" class="form-control " name="question" id="question" >

            <option *ngFor="let q of listQes "  value="{{q.idQes}} "> {{q.code}} </option>

          </select>
        </div>


        <!--  <img [src]="imgURL" height="100" width="150"  *ngIf="imgURL"> -->

        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close"  (click)="addReferentiel()"  > Ajouter un Référentiel </button>


      </div>

    </div>
  </div>


</div>

  </div>

</div>
