<br>
<h3 style="text-align: center;"> Choisir Export Format</h3>
<br>
<div class="row">
  <div class="col-12">
    <div style="text-align: center;margin-top: 50px">
      <div class="col-3" style="display: inline-block;cursor: pointer;margin-left: 10px">
        <a (click)="exportpdf();"> <img src="assets/images/icons/pdf.png"></a>

      </div>

    </div>
    <div style="text-align: center;margin-top: 50px">
      <div class="col-3" style="display: inline-block;cursor: pointer;margin-left: 10px">
        <a (click)="exportExcel();"> <img src="assets/images/icons/excel.png"  width="80px" height="100px"></a>

      </div>

    </div>


  </div>

</div>
