.logo{
  background:url('../../../assets/front/img/logo/logo.png')  no-repeat;
  width:100%;
  text-align:right;
  position:absolute;
  top:10px;
  height:60px;
  min-width:800px;
  max-width:1024px;
}
